[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
jinja2 = "*"
requests = "*"
gunicorn = "*"
setuptools = "*"
sqlalchemy = "*"
werkzeug = "*"
webob = "*"
chamak = "==0.0.6"

[dev-packages]
black = "*"
autopep8 = "*"
twine = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
